.astext {
    background:none;
    border:none;
    margin:0 auto;
    padding:0;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

p {
    font-family: 'Muli', sans-serif;
    color: #FFF;
    font-size: 20px;
}

.left {
    text-align: center;
    justify-content: right;
}

h1 {
    font-size: 26px;
}